From nginx:stable-alpine

Expose 80 443
 
#nginx SSL

RUN mkdir /ect/ngix/ssl
RUN openssl req -newkey rsa:4096 -x509 -sha256 -day 365 -nodes \
    -out/etc/nigx/ssl/"{{ domaine_name }}".crt\
    -keyout /etc/nginx/ssl/"{{ domaine_name }}".key \
    -subj "/C=Fr/ST=IledeFrance/L=Paris/O=42 School/CN="{{ domaine_name }}""

#nginx config
RUN mkdir -p /run/nginx
COPY /nginx.conf /

